<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Great Library</title>
	<meta name="description" content="GreateLibrary designed by Z,Y,L"/>
	<meta name = "viewport" content = "width=device-width, initial-scale=1,maximum-scale=1">

	<!-- Loading Bootstrap -->
	<link href="/static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Loading Flat UI -->
	<link href="/static/css/flat-ui.css" rel="stylesheet">
	<link href="/static/css/home.css" rel="stylesheet">

	<link rel="shortcut icon" href="/static/img/favicon.ico">
	<script src="/static/js/vendor/jquery.min.js"></script>
	<script src="/static/js/flat-ui.min.js"></script>
	<script src="/static/js/application.js"></script>
</head>
<body>
	<div class="container">
	  	{% if 'status' in request.session and request.session.status == True %}
	  	<div class="row demo-row">
	  	  <div class="col-xs-12">
	  	    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
	  	      <div class="navbar-header">
	  	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
	  	          <span class="sr-only">Toggle navigation</span>
	  	        </button>
	  	        <a class="navbar-brand" href="/account/data/{{request.session.username}}/">
	  	        	{% if 'username' in request.session %}
	  	        		{{ request.session.username }}
	  	        	{% endif %}
	  	        </a>
	  	      </div>
	  	      <div class="collapse navbar-collapse" id="navbar-collapse-01">
	  	        <ul class="nav navbar-nav navbar-left">
	  	          <li><a href="/account/logout/">退出</a></li>
	  	          <li><a href="/home/">Home</a></li>
	  	         </ul>
	  	         <form class="navbar-form navbar-right" role="search" method="POST">
	  	          <div class="form-group">
	  	            <div class="input-group">
	  	            {% csrf_token %}
	  	              <input class="form-control" id="navbarInput-01" type="search" placeholder="Search" name="search">
	  	              <span class="input-group-btn">
	  	                <button type="submit" class="btn"><span class="fui-search"></span></button>
	  	              </span>
	  	            </div>
	  	          </div>
	  	        </form>
	  	      </div><!-- /.navbar-collapse -->
	  	    </nav><!-- /navbar -->
	  	  </div>
	  	</div> <!-- /row -->

		{% else %}
			<div class="row demo-row">
			  	<div class="col-xs-12">
			    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
			      	<div class="navbar-header">
				        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
				          <span class="sr-only">Toggle navigation</span>
				        </button>
			        	<a class="navbar-brand" href="/home/">游客</a>
			      	</div>
			      	<div class="collapse navbar-collapse" id="navbar-collapse-01">
				        <ul class="nav navbar-nav navbar-left">
					        <li><a href="/account/login/">登录</a></li>
					        <li><a href="/account/register/">注册</a></li>
					        <li><a href="/home/">Home</a></li>
				        </ul>
				        <form class="navbar-form navbar-right" role="search" method="POST">
				          	<div class="form-group">
					            <div class="input-group">
					            {% csrf_token %}
					              	<input class="form-control" id="navbarInput-01" type="search" placeholder="Search" name="search">
					              	<span class="input-group-btn">
					                <button type="submit" class="btn"><span class="fui-search"></span></button>
					              	</span>
					            </div>
				          	</div>
				        </form>
			      	</div><!-- /.navbar-collapse -->
			    </nav><!-- /navbar -->
			  	</div>
			</div> <!-- /row -->
		{% endif %}

		<div class="demo-headline">
		  	<h1 class="demo-logo">
		    		<div class="logo"></div>
		    		Great Library Community
		    		<small>Where you find your books</small>
		  	</h1>
		</div> <!-- /demo-headline -->	

		<hr/>
		
		<div class="row demo-tiles">  	
		  	{% for book in books %}
			  	<div class="col-xs-3">
				    <div class="tile">
				      	<img src="{{book.cover}}" alt="Compas" class="tile-image big-illustration">
				      	<h3 class="tile-title">{{ book.name }}</h3>
				      	<h7>作者：{{book.author}}</h7>
				      	<a class="btn btn-primary btn-large btn-block" href='/book/detail/{{book.ISBN}}'>查看详情</a>
				    </div>
			  	</div>
		  	{% endfor %}
		</div> <!-- /tiles -->

		<div class="footer">
			<div class="copyright">
      		Copyright  by  GreatLibrary  Group
     		</div>
		</div>
	</div>	
</body>
</html>