<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		{% if 'username' in request.session %}
			{{ request.session.username }}
		{% endif %}
		的个人主页
	</title>
	<meta name="description" content="GreateLibrary designed by Z,Y,L"/>
	<meta name = "viewport" content = "width=device-width, initial-scale=1,maximum-scale=1">

	<!-- Loading Bootstrap -->
	<link href="/static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Loading Flat UI -->
	<link href="/static/css/flat-ui.css" rel="stylesheet">
	<link href="/static/css/home.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/userhome.css">
	<link rel="shortcut icon" href="/static/img/favicon.ico">
	<script src="/static/js/vendor/jquery.min.js"></script>
	<script src="/static/js/flat-ui.min.js"></script>
	<script src="/static/js/application.js"></script>
</head>
<body>
	<div class="container">

		{% if 'status' in request.session and request.session.status == True %}
		<div class="row demo-row">
		  <div class="col-xs-12">
		    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
		          <span class="sr-only">Toggle navigation</span>
		        </button>
		        <a class="navbar-brand" href="#">
		        	{% if 'username' in request.session %}
		        		{{ request.session.username }}
		        	{% endif %}
		        </a>
		      </div>
		      <div class="collapse navbar-collapse" id="navbar-collapse-01">
		        <ul class="nav navbar-nav navbar-left">
		          <li><a href="/account/note/{{user.name}}">读书笔记</a></li>
		          <li><a href="/account/review/{{user.name}}">书评</a></li>
		          <li><a href="/account/collection/{{ user.name }}">收藏</a></li>
		          <li><a href="/account/editdata/{{ user.name }}">修改个人信息</a></li>
		          <li><a href="/account/logout/">退出</a></li>
		          <li><a href="#fakelink">About Us</a></li>
		        </ul>
		      </div><!-- /.navbar-collapse -->
		    </nav><!-- /navbar -->
		  </div>
		</div> <!-- /row -->
		{% endif %}
		<div class="main">
			<div class="userData">
				<div class="personal_left">
					<img src="/static/{{ user.headImage }}">
				</div>
				<div class="personal_right">
					<h4 class="mpersonal">
						<div class="left">{{ user.name }}</div>
					</h4>
					<div class="personalinfo">
						<span>性&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 别：</span><span itemprop="gender">{{user.gender}}</span><br>
						<span>积&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 分：</span><span itemprop="score">{{user.score}}</span><br>
						<span>邮&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 箱：</span><span itemprop="email">{{user.email}}</span><br>
						<span>个人介绍：</span><span itemprop="intro">{{user.intro}}</span><br><br>
					</div>
				</div>
			</div>
			<div class="board">
				<h4><a href="">我的留言板</a></h4>
				<div class="guestbook_top">
					<form>
						<ul><li>{{ messageform.content }}{{ messageform.content.error }}</li>
						<ul><li>{{ messageform.message_time }}{{ messageform.message_time.error }}</li>
						<ul><li><input value="leave message" name="leave_message" type="submit"></li></ul>
					</form>
				</div>
			<div id="messages">
			{% for message in messagelist %}
				<div class="message">
			    	<div class="guestbook_left"><a class="headpic"><img src="/static/{{ message.relatedUser.cover }}"></a></div>
			    	<div class="content">
			    		<a class="u" href="">message.relatedUser.name</a>
			    		<em>message.sendTime</em>
			    		<p>message.content</p>
			      	</div>
			 	</div>
			{% endfor %}
			</div>
		</div>

		<div class="sidebars">
			<div class="following">
				<h4>我关注的人</h4>
				{% for people in followlist %}
					<a href="/account/data/{{people.name}}">{{ people.name }}</a><br>
				{% endfor %}
			</div>
		</div>

		<div class="footer">
			<div class="copyright">
      		Copyright  by  GreatLibrary  Group
     		 </div>
		</div>
	</div>	
</body>
</html>